/*
  Clermontech styles the Sass way.

  Define your custom styles here.

  Author: @clermontech
 */



/* ------ re-definitions */
body {
  line-height: 1.2;
}

p {
  text-align: justify;
}

address {
  .fn { font-weight:bold; }
  .street-address {}
  .postal-code {}
  .city {}
}

/* ------ classes */
.right {
  float: right;
  padding: 20px 0 20px 20px;
}

.left {
  float: left;
  padding: 20px 20px 20px 0;
}

.date {
  padding: 20px 0;
  clear: both;
  text-align: right;
}

.signature {
  margin-top: 30px;
  text-align: right;
}

/* Invoice */
.invoice-title {
  clear: both;
  text-align: center;
}

.invoice-number {
  font-size: 0.7em;
  text-transform: uppercase;
}

.address-us,
.address-client {
  display: block;
  .address-title {
    font-weight: bold;
  }
  span {
    display: block;
  }
}

.address-us {
  float: left;
}

.address-client {
  float: right;
}

.address-name {
  font-weight: bold;
}

.address-street {
}

.address-city {
}

.address-extra {
  font-style: italic;
}
